<div class="container">
  <br>
  <h1>Pipes</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{nombre}}</td>
        <td>uppercase</td>
        <td>{{nombre | uppercase}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>lowercase</td>
        <td>{{nombre | lowercase}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>slice:3</td>
        <td>{{nombre | slice:3}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>slice:0:3</td>
        <td>{{nombre | slice:0:3}}</td>
      </tr>
      <tr>
        <td>{{arreglo}}</td>
        <td>slice:1:5</td>
        <td>{{arreglo | slice:1:5}}</td>
      </tr>
      <tr>
        <td>{{PI}}</td>
        <td>number</td>
        <td>{{PI | number}}</td>
      </tr>
      <tr>
        <td>{{PI}}</td>
        <td>number:'3.0-0'</td>
        <td>{{PI | number:'3.0-0'}}</td>
      </tr>
      <tr>
        <td>{{PI}}</td>
        <td>number:'1.2-5'</td>
        <td>{{PI | number:'1.2-5'}}</td>
      </tr>
      <tr>
        <td>{{percentNumber}}</td>
        <td>percent</td>
        <td>{{percentNumber | percent}}</td>
      </tr>
      <tr>
        <td>{{percentNumber}}</td>
        <td>percent:'1.2-2'</td>
        <td>{{percentNumber | percent:'1.2-2'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency</td>
        <td>{{salario | currency}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR'</td>
        <td>{{salario | currency:'EUR'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR':'code'</td>
        <td>{{salario | currency:'EUR':'code'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency:'EUR':'symbol':'4.0-0'</td>
        <td>{{salario | currency:'EUR':'symbol':'4.0-0'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>number:'.2-2'</td>
        <td>{{salario | number:'.2-2'}}</td>
      </tr>
      <tr>
        <td>{{valorDePromesa}}</td>
        <td>async</td>
        <td>{{valorDePromesa | async}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>date</td>
        <td>{{fecha | date}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>date:'medium'</td>
        <td>{{fecha | date:'medium'}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>date:'MMMM - dd'</td>
        <td>{{fecha | date:'MMMM - dd'}}</td>
      </tr>
      <tr>
        <td>{{nombre2}}</td>
        <td>capitalizado</td>
        <td>{{nombre2 | capitalizado}}</td>
      </tr>
      <tr>
        <td>{{nombre2}}</td>
        <td>capitalizado:false</td>
        <td>{{nombre2 | capitalizado:false}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>contrasena:{{activar}}
          <button class="btn btn-primary btn-block" type="button" (click)="activarContrasena()">
            Activar/Desactivar
          </button>
        </td>
        <td>{{nombre | contrasena:activar}}</td>
      </tr>
    </tbody>
  </table>

  <h2>Slice</h2>
  <table>
    <tbody>
      <tr *ngFor="let item of arreglo | slice:2:10">
        <td>
          {{item}}
        </td>
      </tr>
    </tbody>
  </table>

  <h2>JSON</h2>
  <pre>
    {{heroe | json}}
  </pre>

  <h2>Youtube
    <small>video</small>
  </h2>
  <iframe width="560" height="315" [src]="video | domseguro: 'https://www.youtube.com/embed/'" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
</div>
